
<div *ngIf="storeSKU">
    <h2><span>Store SKU</span> {{storeSKU.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Quantity</span></dt>
        <dd>
            <span>{{storeSKU.quantity}}</span>
        </dd>
        <dt><span>Store Id</span></dt>
        <dd>
            <div *ngIf="storeSKU.storeIdId">
                <a [routerLink]="['/store-my-suffix', storeSKU.storeIdId]">{{storeSKU.storeIdId}}</a>
            </div>
        </dd>
        <dt><span>Sku Id</span></dt>
        <dd>
            <div *ngIf="storeSKU.skuIdId">
                <a [routerLink]="['/sku-my-suffix', storeSKU.skuIdId]">{{storeSKU.skuIdId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'store-sku-my-suffix/'+ storeSKU.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
